    <div class="row">
      <div class="large-8 large-offset-2 columns text-center">
        <h1 style="font-size: 80px; margin: 100px 0 0;">.<strong>scoot</strong></h1>
        <h4 style="margin-bottom: 20px;">Build It Faster.</h4>
      </div>
    </div>
    <%= form_for :scoot, url: scoot_index_path do |f| %>
				  <div class="row text-center mb-20">
            <hr>
				    <div class="large-4 medium-4 columns">
                <h4>Framework</h4>
              <%= select_tag(:framework, options_for_select([['Foundation', 'foundation'], ['Bootstrap', 'bootstrap'], ['Neat', 'foundation'], ['Sassaparilla', 'foundation']], 'foundation')) %>
				    </div>
				    <div class="large-4 medium-4 columns">
				      <h4>Precompiler</h4>
              <%= radio_button_tag(:precompiler, "vanilla", checked = true) %>
              <%= label_tag(:precompiler, "Vanilla CSS") %>
              <%= radio_button_tag(:precompiler, "sass") %>
              <%= label_tag(:precompiler, "Sass") %>
				    </div>
				    <div class="large-4 medium-4 columns">
				      <h4>Asset Pipeline</h4>
              <%= select_tag(:asset_pipeline, options_for_select([['None', 'none'], ['Yes', 'yes']], 'yes')) %>

				    </div>
				  </div>


        <div class="row">
          <h3>Website Info</h3>
          <p>Enter the information about your website. This will populate the meta title, description, and keywords.</p>
        </div>
				  <div class="row">
				    <div class="large-6 medium-6 columns">
				      <label>Website Title (160 char max)</label>
              <%= text_field_tag(:website_title) %>
				      <label>Website Description (400 char. max)</label>
                <%= text_area_tag(:website_desc, "", size: "24x6") %>
				      <label>Keywords (type direct input to keyword meta field)</label>
              <%= text_area_tag(:website_keywords, "", size: "24x6") %>
				      <label>Header Fonts</label>
              <input class="fonts" name="fonts">
				    </div>
				  </div>
          <hr>

          <div class="row">
            <h3>CSS</h3>
          <p>Attach custom stylesheets that you're used to using</p>
          </div>
    
				  <div class="row">
				    <div class="large-4 medium-4 columns">
              <label><strong>Attach custom.css</strong></label>
				      <label>Attaches and includes css/custom.css file</label>
              <%= radio_button_tag(:customcss, "yes", checked = true) %>
              <%= label_tag(:customcss_yes, "Yes") %>
              <%= radio_button_tag(:customcss, "no") %>
              <%= label_tag(:customcss_no, "No") %>

              <hr>
            </div>
    
				    <div class="large-4 medium-4 columns">
              <label><strong>Attach utilities.css</strong></label>
				      <label>Attaches and includes css/utilities.css file</label>
              <%= radio_button_tag(:utilitiescss, "yes", checked = true) %>
              <%= label_tag(:utilitiescss_yes, "Yes") %>
              <%= radio_button_tag(:utilitiescss, "no") %>
              <%= label_tag(:utilitiescss_no, "No") %>

              <hr>
            </div>
    
				    <div class="large-4 medium-4 columns">
              <label><strong>Attach responsive.css</strong></label>
				      <label>Attaches and includes css/utilities.css file</label>
              <%= radio_button_tag(:responsivecss, "yes", checked = true) %>
              <%= label_tag(:responsivecss_yes, "Yes") %>
              <%= radio_button_tag(:responsivecss, "no") %>
              <%= label_tag(:responsivecss_no, "No") %>
              <hr>
				    </div>
				  </div>
          <div class="row">
            <h3>Starter Kit</h3>
          <p>Decide how your want your build setup to start.</p>
          </div>
				  <div class="row text-center">
				    <div class="large-4 medium-4 columns">
              <img src="http://placehold.it/400x275">
              <label><strong>None</strong></label>
              <%= radio_button_tag(:templating, "minimal") %>
              <hr>
				    </div>
				    <div class="large-4 medium-4 columns">
              <img src="http://placehold.it/400x275">
              <label><strong>Website</strong></label>
              <%= radio_button_tag(:templating, "standard") %>
              <hr>
				    </div>
				    <div class="large-4 medium-4 columns">
              <img src="http://placehold.it/400x275">
              <label><strong>Wordpress</strong></label>
              <%= radio_button_tag(:templating, "advanced") %>
              <hr>
				    </div>
				  </div>
    
    
          <div class="row" style="margin-top: 80px;">
            <h3 class="text-center">Download Your Scoot Files</h3>
          <p class="text-center">Name your download file, and download already!</p>
          </div>
    
    
    
          <div class="row">
            <div class="large-offset-2 large-8 columns">
              <%= text_field_tag(:zip_name, "Name Your Zip") %>
            </div>
          
          </div>
          <div class="row" style="margin-bottom: 80px;">
      <p class="text-center" style="margin-top:30px;">
      <%= f.submit 'Compile and Download', class: 'small success round button' %>
</p>
    </div>
    <div class="row">
    </div>

  <% end %>
   <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-12 columns text-center">
          <p class="copyright">© Copyright 2015. Made with love in Denver.</p>
        </div>
      </div>
    </div>
  </footer> 
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  


